@import './Assets/color-scheme.css';
*, html {
    padding: 0;
    margin: 0;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    color: white;
}

section {
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
  background-color: var(--color-header-text);
  color: white;
}

/* Style the active class (and buttons on mouse-over) */
.notactive {
  background-color: #f1f1f1;
  color: black;
  opacity: 0.5;
}


#item-container {
}

#pantrylist-container {
}

#item-list-header {
    height: 15vh;
}

#item-list-container, #pantry-list-container {
    height: 85vh;
    overflow-y: auto;
}